[Unit]
Description=Mattermost
After=network.target

[Service]
Type=notify
ExecStart={{ mattermost_install_dir }}/mattermost/bin/mattermost
TimeoutStartSec=3600
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_install_dir }}/mattermost
User=mattermost
Group=mattermost
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
